@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Cadastro de perfil";
}

<div class="py-4 pl-3 d-flex justify-content-between">
    <h1 class="page-title">@ViewData["Title"]</h1>
   
</div>


    <section class="row">
     
      
            <form asp-action="Create" class="col-md-6" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Nome do perfil</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </form>
       
    </section>

<div>
    <a asp-action="Index">Voltar</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}