@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Lista de Função";
}

<div class="row form-lancamento">
    <section class="col-md-4 table-bordered mx-auto rounded-lg bg-light">
        <div class="text-plumas">
            <br />
            @ViewData["Title"]
            <br />
        </div>
        <hr />
        <div>
            <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Adicionar Função</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Nome</td>
                        <td>Ações</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                            <td>
                                <form asp-action="DeletarRole" asp-route-id="@role.Id">
                                    <button> <i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </section>
</div>
@section Scripts{
    @if (ViewBag.Excluido != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                Swal.fire({
                    icon: 'success',
                    title: 'Sucesso',
                    text: 'Perfil excluido com sucesso!',

                })
            };
        </script>
    }
}