@model Demonstrativo.Models.OfxContaCorrente

@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OfxContaCorrente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NumeroConta" class="control-label"></label>
                <input asp-for="NumeroConta" class="form-control" />
                <span asp-validation-for="NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpresaId" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                <span asp-validation-for="EmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BancoOfxId" class="control-label"></label>
                <select asp-for="BancoOfxId" class="form-control" asp-items="ViewBag.BancoOfxId"></select>
                <span asp-validation-for="BancoOfxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
