@model EditarViewModel
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Edição de usuário";
}

<div class="py-4 pl-3 d-flex justify-content-between">
    <h1 class="page-title">@ViewData["Title"]</h1>

</div>


<form asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-action="Editar" class="row">

    <div class="col-md-6">

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="UserRole">Perfil do usuário</label>
            <select asp-for="UserRole" class="form-control  select" asp-items='new SelectList(Model.UserRoles,"Id","Name")'>
                <option disabled value="">Selecione</option>
            </select>
            <span asp-validation-for="UserRole" class="text-danger"></span>
        </div>
    </div>
    <a asp-action="CarregarUsuario" class="btn btn-plumas-w">Voltar</a>
    <button type="submit" class="btn btn-plumas-w">Editar</button>
    </div>
</form>
<div>

</div>


