@model LoginViewModel
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Login";
}
 

<div class="row form-lancamento">
    <section class=" table-bordered mx-auto rounded-lg bg-light area-login">
        <div class="text-plumas d-flex justify-content-center pt-2">

        
			<img class="img-fluid" src="https://plumascontabil.com.br/wp-content/uploads/2019/06/LOGO_AJUSTADO_NOVO.png">
			
          @* 
          @ViewData["Title"]
           *@
        </div>
     
        <div>
            <form asp-controller="Usuario" asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"> </label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Senha</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                @*
                <div class="form-group form-check">
                    <input asp-for="RememberMe" class="form-check-input btn-check"/>
                    <label asp-for="RememberMe" class="form-check-label ml-3">
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                *@
               <div class="form-group">
                    <button type="submit" class="btn-plumas-login w-100 py-1">Avançar</button>
                </div>
            </form>
        </div>
        <br />
    </section>
</div>
 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}