@model LoginViewModel
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Log in";
}
 

<div class="row form-lancamento">
    <section class="col-md-4 table-bordered mx-auto rounded-lg bg-light">
        <div class="text-plumas">
            <br/>
            @ViewData["Title"]
            <br/>
        </div>
        <hr />
        <div>
            <form asp-controller="Usuario" asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input asp-for="RememberMe" class="form-check-input btn-check"/>
                    <label asp-for="RememberMe" class="form-check-label ml-3">
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-plumas">Log in</button>
                </div>
            </form>
        </div>
        <br />
    </section>
</div>
 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}