@model RegistrarViewModel
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Cadastro de usuário";
}

<div class="py-4 pl-3 d-flex justify-content-between">
    <h1 class="page-title">@ViewData["Title"]</h1>
   
</div>
 

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row">    
        
         <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
         </div>
         <div class="col-md-6">
              
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UserRole"></label>
                <select asp-for="UserRole" class="form-control  select" asp-items='new SelectList(Model.UserRoles,"Id","Name")'>
                </select>
                <span asp-validation-for="UserRole" class="text-danger"></span>
            </div>
         </div>
         <div class="col-12">
            <button type="submit" class="btn btn-plumas-w">Cadastrar</button>
         </div>
        </form>
        <div>

    <a asp-action="CarregarUsuario" class="mt-2">Voltar</a>
</div>
      
  
