
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Importar";
}

@if (ViewBag.Message != null)  
    {  
        <script type="text/javascript">  
            window.onload = function()
            {  
                alert("@ViewBag.Message");  
            };  
        </script>  
    }
@if (ViewBag.Importado != null)  
    {  
        <script type="text/javascript">  
            window.onload = function()
            {  
                alert("@ViewBag.Importado");  
            };  
        </script>  
    } 
@if (ViewBag.AdicionarBanco != null)  
    {  
        <script type="text/javascript">  
            window.onload = function()
            {  
                alert("@ViewBag.AdicionarBanco");  
            };  
        </script>  
    } 
<div class="row">
    <div class="col-md-6 table-bordered mx-auto rounded-lg bg-light mt-5 py-3">
        <h1>Importar OFX</h1>
        <form asp-action="OfxImportar" method="post" enctype="multipart/form-data" class="mt-5">
          <input type="file" name="ofxArquivo" class="btn form-control-file">
          <input type="submit" value="Upload Ofx" name="submit" class="btn btn-plumas">
        </form>
    </div>
</div>
