@model Demonstrativo.Models.SaldoMensal

@{
	Layout = "_LayoutSemFiltroEmpresa";
	ViewData["Title"] = "Saldo mensal";
}

<div class="py-4 pl-3 d-flex justify-content-between">
	<h1 class="page-title">@ViewData["Title"]</h1>
</div>



<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Competencia" class="control-label">Competência</label>
				<input asp-for="Competencia" class="form-control" />
				<span asp-validation-for="Competencia" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Saldo" class="control-label"></label>
				<input asp-for="Saldo" class="form-control" />
				<span asp-validation-for="Saldo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ContaCorrenteId" class="control-label">Conta corrente</label>
				<select asp-for="ContaCorrenteId" class="form-control select" asp-items="ViewBag.ContaCorrenteId"></select>
			</div>
			<div class="form-group">
				<a asp-action="Index" class="btn btn-plumas-w">Voltar</a>
				<input type="submit" value="Cadastrar" class="btn btn-plumas-w" />
			</div>
		</form>
	</div>
</div>



@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
